.responseBtns {
	display: flex;
	align-items: center;
	justify-content: center;
}

.responseBtns button {
	width: 200px;
	padding: 20px 15px;
	margin: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    transition: transform 0.35s;
    color: white;
    background-color: #E82828;
}

.responseBtns button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .responseBtns button {
        margin-top: 10px;
    }
}