body {
    background-color:#232323;
}

.logoContainer {
	display: flex;
	align-items: center;
    justify-content: center;
}

.logo {
    height: 200px;
    margin: 2rem;
}

@media screen and (max-width: 768px) {
	.logo {
		height: 150px;
	}
}